body {
    margin: 0;
    padding: 0;
    background: url('https://github.com/devrat1144/portfolio-website/blob/main/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
  }
  
 
